.header{
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.title{
  

}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border:none;
}
.select{
  margin:1rem;
  position: relative;
  overflow: hidden;
  font-size:13px
}
select{
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.3rem;
}

.select::after{
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  border-radius: 0.3rem;
}
.select:hover::after{
  background: white;
  color: #ff6f47;
}